.BaseAmountPage__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

.BaseAmountPage__donationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 50vh;
}

.BaseAmountPage__inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.BaseAmountPage__input {
  display:flex;
  height: 7vh;
  width: 60%;
  border: 1px solid #DADCDE;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  border-radius: 2px;
  padding: 0px 0px 0px 16px;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Lato', arial, sans-serif;
  box-sizing: border-box;
}

.BaseAmountPage__livesSaved {
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.BaseAmountPage__input:focus {
  outline: none;
}

.BaseAmountPage__CTA {
  color: white;
  display: flex;
  margin: 10px;
  width: 75%;
  height: 10vh;
  background-color: #f88920;
  font-weight: 300;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
}

.BaseAmountPage__CTA > a {
  text-decoration: none;
}

.BaseAmountPage__CTA > a:visited {
  color: white;
}







