@import '../Constants.scss';

.BaseAmountPage__paragraph {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  font-size: $fontSizeParagraph;
}

.BaseAmountPage__input {
  width: 60px;
  text-align: center;
  appearance: none;
  color: $colorBlack;
  border: 1px solid $colorGray;
  margin-bottom: 15px;
  outline: none;
  font-size: 12pt;
  font-family: $fontFamily;
  padding: 5px;
  margin-left: 5px;
  border-radius: 0;
}

.BaseAmountPage__input::-webkit-input-placeholder {
    color: $colorGray;
}
.BaseAmountPage__input:-moz-placeholder {
    /* FF 4-18 */
    color: $colorGray;
}
.BaseAmountPage__input::-moz-placeholder {
    /* FF 19+ */
    color: $colorGray;
}
.BaseAmountPage__input:-ms-input-placeholder {
    /* IE 10+ */
    color: $colorGray;
}

.BaseAmountPage__supportGiveWell {
  margin-bottom: 20px;
  display: flex;
}

.BaseAmountPage__supportGiveWell__checkbox {
  border-radius: 0px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.BaseAmountPage__footnote {
  font-size: $fontSizeSmall;
  text-align: center;
  color: $colorGray;
}
