.DonationAllocationPage__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  text-align: center; }

.DonationAllocationPage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  font-size: 18px;
  color: #424242;
  text-align: center;
  height: 50vh; }

.DonationAllocationPage__content > img {
  margin: auto;
  width: auto;
  height: 50%;
  padding-top: 1vh;
  padding-bottom: 1vh; }

.DonationAllocationPage__table {
  margin: auto;
  padding-top: 2vh; }
