@import '../Constants.scss';

.DonationAllocationPage__paragraph {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: $fontSizeParagraph
}

.DonationAllocationPage__charities {
  margin-top: 0px;
  margin-bottom: 30px;
}

.DonationAllocationPage__charity {
  margin-bottom: 15px;
}

.DonationAllocationPage__charity__info {
  padding: 0 0 15px 0;
}

.DonationAllocationPage__charity__logo {
  padding: 0 10px 15px 0;
  vertical-align: top;
}

.DonationAllocationPage__charity__name {
  margin: 0px;
  font-size: 11pt;
}

.DonationAllocationPage__charity__description {
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
}

.DonationAllocationPage__charity__amount {
  width: 40px;
  text-align: right;
  vertical-align: top;
}
