@import 'Constants.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900');

.App__Container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
  color: $colorBlack;
}

.PageWrapper {
  display: flex;
  max-width: 375px;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  align-items: center;
}

.bold {
  font-weight: $fontWeightBlack;
}

.DonationFormPage {
  padding-left: 25px;
  padding-right: 25px;
}

/* Progressbar */

.ProgressBar__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ProgressBar__background {
  width: 100%;
  background-color: $colorLightGray;
  height: 5px;
  border: 0;
  box-sizing: border-box;
}

.ProgressBar__bar {
  height: 100%;
  background-color: $colorOrange;
}

.Input {
  width: 325px;
  appearance: none;
  color: $colorBlack;
  border: 1px solid $colorGray;
  margin-bottom: 15px;
  outline: none;
  font-size: 16pt;
  font-family: $fontFamily;
  padding: 10px;
  border-radius: 0;
}

.Input::-webkit-input-placeholder {
    color: $colorGray;
}
.Input:-moz-placeholder {
    /* FF 4-18 */
    color: $colorGray;
}
.Input::-moz-placeholder {
    /* FF 19+ */
    color: $colorGray;
}
.Input:-ms-input-placeholder {
    /* IE 10+ */
    color: $colorGray;
}

.Input-Error {

}
