@import 'Constants.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900');

.App__Container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
  color: $colorBlack;
}


.App__viewportContainer {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100vh;
}

.bold {
  font-weight: $fontWeightBlack;
}

/* Progressbar */

.ProgressBar__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.ProgressBar__background {
  width: 100%;
  background-color: $colorLightGray;
  height: 10px;
  border: 0px;
  box-sizing: border-box;
}

.Input {
  appearance: none;
  color: $colorBlack;
  border: 1px solid $colorGray;
  margin-bottom: 15px;
  outline: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 0;
}

.Input::-webkit-input-placeholder {
    color: $colorGray;
}
.Input:-moz-placeholder {
    /* FF 4-18 */
    color: $colorGray;
}
.Input::-moz-placeholder {
    /* FF 19+ */
    color: $colorGray;
}
.Input:-ms-input-placeholder {
    /* IE 10+ */
    color: $colorGray;
}

.Input-Error {

}
