.Header {
  background-color: #F1F1F1;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center; }

.Header--small {
  height: 45px; }

.Header__logo {
  height: 50%;
  margin: auto; }
