@import './Constants.scss';

.IntroPage__header {
  width: 100%;
  font-size: 27pt;
  color: $colorBlack;
  text-align: center;
  font-weight: $fontWeightNormal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.IntroPage__paragraph {
  margin-top: 0px;
  font-size: $fontSizeParagraph;
  text-align: center;
  line-height: 19pt;
}

.IntroPage__subheader {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 23pt;
}

.IntroPage__bulletpoints {
  list-style-type: none;
  padding: 0px;
}

.IntroPage__bulletpoint {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.IntroPage__bulletpoint__icon {
  height: 85px;
  margin-right: 10px;
}

.IntroPage__bulletpoint__header {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 13pt;
  font-weight: $fontWeightBold;
}

.IntroPage__bulletpoint__description {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 13pt;
}
