@import './Constants.scss';

.IntroPage__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 32px;
  color: $colorBlack;
  text-align: center;
  justify-content: center;
}

.IntroPage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  font-size: 18px;
  color: $colorBlack;
  height: 40vh;
}

.IntroPage__content > img {
  margin: auto;
  width: auto;
  height: 45%;
}

.IntroPage__content > div {
  font-size: 20px;
  text-align: center;
}
