@import 'Constants.scss';

.NextStepButton {
  font-family: $fontFamily;
  color: $colorWhite;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: $colorWhite;
  display: flex;
  flex-direction: row;
  width: 232px;
  height: 55px;
  background-color: $colorOrange;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  letter-spacing: 1px;
}

.NextStepButton--disabled {
  background-color: $colorLightGray;
  color: $colorBlack;
  text-decoration: none;
}
