.NextStepButton {
  font-family: "Lato";
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 232px;
  height: 55px;
  background-color: #FF7F00;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  letter-spacing: 1px; }

.NextStepButton--disabled {
  background-color: #F1F1F1;
  color: #424242;
  text-decoration: none; }
