@import 'Constants.scss';

.NextStepButton {
  color: $colorWhite;
  display: flex;
  margin-bottom: 20px;
  width: 75%;
  height: 10vh;
  background-color: $colorOrange;
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 20px;
}

.NextStepButton--disabled {
  background-color: $colorLightGray;
}

.NextStepButton--disabled > a {
  color: $colorBlack;
}

.NextStepButton > a {
  text-decoration: none;
}
